html, body {
  width: auto;
  background-color: #FFFFF;
}

.button {
  text-align: left;
  vertical-align: middle;
  font-size: 1em;
  cursor: pointer;
}

.theme:hover {
	border: 1px solid black;
	background-color: #EEEEEE;
}

.theme{
	border: none;
 background-color: #FFFFFF;
}

.button:hover{
	border: 1px solid black;
	background-color: #EEEEEE;
}

